<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArh4nn9Um1rKyy332fvyGwZ5a6DkKPMYE</string>
	<key>GCM_SENDER_ID</key>
	<string>89050578881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dinhthong.eaut.codeDoAn</string>
	<key>PROJECT_ID</key>
	<string>code-do-an-tot-nghiep-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>code-do-an-tot-nghiep-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89050578881:ios:dd67a5dc679396abb23940</string>
</dict>
</plist>